@import url("https://fonts.cdnfonts.com/css/seymour-one");
@import url("https://fonts.cdnfonts.com/css/helvetica-255");

:root {
    --red-linear-color: linear-gradient(to bottom, #ff4949, #a84b4b);
    --bg-color: #212121;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    letter-spacing: -0.03em;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #000;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: var(--bg-black);
    padding: 0em 3em;
    gap: 30px;

    & img {
        width: 150px;
    }

    & nav > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        list-style: none;
        width: 25em;
        padding: 0;
        margin: 0;
        gap: 1em;

        & li {
            font-size: 1.5rem;
            font-weight: 600;
            cursor: pointer;

            transition: all 0.3s ease;

            &.selected-nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1em;
                width: 150px;
                height: 100px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("./public/assets/nav-border.png");

                & a {
                    height: 13px;
                }
            }

            & a {
                text-decoration: none;
                color: rgb(187, 187, 187);
                font-size: medium;
                font-family: "Baskerville";
                text-transform: uppercase;
            }
        }
    }

    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        padding: 0.4em 0.8em;
        border: 1px solid #eabf6a;
        background-color: #a84b4b;
        text-align: center;
        color: white;
        font-family: "Baskerville";
        text-transform: uppercase;
        font-size: medium;
        font-weight: 600;
    }
}

.sans-font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    letter-spacing: -10px;
}

.display-font {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: -20px;
    font-weight: 300;
}

.video-mask {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-user-drag: none;
    user-select: none;

    & video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
    }

    & h1 {
        position: relative;
        font-size: 25vw;
        color: transparent;
        -webkit-text-stroke: 0px white;
        letter-spacing: -6%;
        text-transform: uppercase;
        text-align: center;
        line-height: 75%;
        z-index: 1;
        background: url("./public/assets/DB-Video-Edit.mp4") no-repeat center
            center;
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;

        text-shadow: 0 0 0.5em rgba(124, 124, 124, 0.5);
        -webkit-user-drag: none;
        user-select: none;
        font-variation-settings: "wdth" 50;

        &::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: white;
            mix-blend-mode: overlay;
            z-index: -1;
            -webkit-user-drag: none;
            user-select: none;
        }
    }
}
